.instructions {
  ul li {
    margin-bottom: 15px;
    text-align: left;
  }
}
.grid {
  margin-bottom: 20px;

  .word {
    padding: 10px;
    border: 1px solid black;
    &.selected {
      background-color: lightblue;
    }

    span {
      cursor: pointer;
    }
  }

  .column:first-child {
    .word.selected {
      background-color: green;
    }
  }
}
